<form [formGroup]="customerDetails" (ngSubmit)=onSubmit(customerDetails)>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer Details</h5>
    </div>
    <div class="modal-body">

        <div class="form-group" >
            <h2>Name</h2>
        
            <label for="firstName">First: </label>
            <input type="text" name="" id="firstName" placeholder={{customer.firstName}} formControlName="firstName">
        
            <label for="middleName">Middle: </label>
            <input type="text" name="" id="middleName" placeholder={{customer.middleName}} formControlName="middleName">
        
            <label for="lastName">Last: </label>
            <input type="text" name="" id="lastName" placeholder={{customer.lastName}} formControlName="lastName">
        
          </div>

        <div class="form-group">
            <label class=" " for=""> Age: </label>
            <div class="">
                <input class="form-control" type="text" name="" id="" formControlName="age" placeholder={{customer.age}} />
            </div>
        </div>

        <div class="form-group">
            <label class=" " for=""> Phone Number: </label>
            <div class="">
                <input class="form-control" type="text" name="" id="" formControlName="phoneNumber"
                    placeholder={{customer.phoneNumber}} />
            </div>
        </div>

        <div class="form-group">
            <label class=" " for=""> E-Mail: </label>
            <div class="">
                <input class="form-control" type="text" name="" id="" formControlName="email"
                    placeholder={{customer.email}} />
            </div>
        </div>

        <div class="form-group">
            <label class=" " for=""> Address: </label>
            <div class="">
                <input class="form-control" type="text" name="" id="" formControlName="address"
                    placeholder={{customer.address}} />
            </div>
        </div>
        <!-- TODO hide ssn so that it only shows last 4 ; format it -->
        <div class="form-group">
            <label class=" " for=""> SSN: </label>
            <div class="">
                <input class="form-control" type="text" name="" id="" formControlName="ssn" placeholder={{customer.ssn}} />
            </div>
        </div>




    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Close</button>
    </div>
</form>