<form [formGroup]="customerDetails" (ngSubmit)=onSubmit(customerDetails)>
    
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer Details</h5>
    </div>

    <div class="modal-body container-fluid">
        
        <div class="form-group">

            <div class="input-group mb-2" >
                    <span class="input-group-text float-start col-lg-2 border-0">First Name</span>
                    <input type="text" class="form-control col-8" placeholder={{customer.firstName}} aria-label="First Name" formControlName="firstName">
            </div>
            <div class="input-group mb-2" >

                    <span class="input-group-text float-start col-lg-2 border-0">Middle Name</span>
                    <input type="text" class="form-control col-8" placeholder={{customer.middleName}} aria-label="Middle Name" formControlName="middleName">
            </div>
            <div class="input-group mb-2" >
                    <span class="input-group-text float-start col-lg-2 border-0">Last Name</span>
                    <input type="text" class="form-control col-8" placeholder={{customer.lastName}} aria-label="Last Name" formControlName="lastName">
            </div>

        </div>

        <div class="form-group">
            <div class="input-group mb-2">
                <span class="input-group-text float-start col-lg-2 border-0" for="">Age</span>
                <input type="text" class="form-control" placeholder={{customer.age}} aria-label="Age" formControlName="age" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-2">
                <span class="input-group-text float-start col-lg-2 border-0" for=""> Phone Number</span>
                <input  type="text" class="form-control" placeholder={{customer.phoneNumber}} aria-label="Phone Number" formControlName="phoneNumber" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-2">
                <span class="input-group-text float-start col-lg-2 border-0" for=""> E-Mail</span>
                <input  type="text" class="form-control" placeholder={{customer.email}} aria-label="E-Mail" formControlName="email" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-2">
                <span class="input-group-text float-start col-lg-2 border-0" for=""> Address</span>
                <input  type="text" class="form-control" placeholder={{customer.address}} aria-label="Address" formControlName="address" />
            </div>
        </div>
        <!-- TODO hide ssn so that it only shows last 4 ; format it -->
        <div class="form-group">
            <div class="input-group mb-2">
                <span class="input-group-text float-start col-lg-2 border-0" for=""> SSN</span>
                <input  type="text" class="form-control" placeholder={{customer.ssn}} aria-label="SSN" formControlName="ssn" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.close(customer)">Close</button>
    </div>

</form>