<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Age</th>
            <!-- <th scope="col">Address</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; " routerLink="/customer/{{customer.id}}">
            <td><span class="fas fa-user-alt fa-lg"></span></td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.phoneNumber | phoneNumberPipe}}</td>
            <td>{{customer.age}}</td>
        </tr>
    </tbody>
</table>