<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Age</th>
            <!-- <th scope="col">Address</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; "routerLink="/customer/{{customer.id}}">
                <td>{{customer.firstName}}</td>
                <td>{{customer.phoneNumber}}</td>
                <td>{{customer.age}}</td>
        </tr>
    </tbody>
</table>