<div *ngIf="customer; else noCustomer" class="container-fluid">
    <div class="customer-details-deck ">
        <p>ID: {{customer.id}}</p>
        <p>FIRST NAME: {{customer.firstName}}</p>
        <p>MIDDLE NAME: {{customer.middleName}}</p>
        <p>LAST NAME: {{customer.lastName}}</p>
        <p>AGE: {{customer.age}}</p>
        <p>PHONE NUMBER: {{customer.phoneNumber}}</p>
        <p>E-MAIL: {{customer.email}}</p>
        <p>ADDRESS: {{customer.address}}</p>
        <p>PASSWORD: {{customer.password}}</p>
        <p>SSN: {{customer.ssn}}</p>
    </div >
</div>
<ng-template #noCustomer>Sorry! no customer details.</ng-template>

