<nav class="">
  <div class="">

    <div class="" routerLink="/">
    {{title}}
    </div>
    <div class="">
      <ul class="">
        
        <li class=" ">
          <a class="" routerLink="/"> link 1 </a>
        </li>
        
        <li class="">
          <a class="" routerLink="/"> link 2 </a>
        </li>
        
        <li class="">
          <a class="" routerLink="/"> link 3 </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-app-body">
  <router-outlet></router-outlet>
</div>
