<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <div class="navbar-brand mb-0 h1" routerLink="/">
    {{title}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="/"> link 1 </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> link 2 </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> link 3 </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-app-body">
  <router-outlet></router-outlet>
</div>
