<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Age</th>
            <!-- <th scope="col">Address</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; ">
            <td>{{customer.name}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.age}}</td>
            <!-- <td>{{customer.address}}</td> -->
        </tr>
    </tbody>
</table>